[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
numpy = "*"
netcdf4 = "*"
haversine = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "2.7"
